<launch>
    <!-- Arguments -->
    <arg name="set_base_frame" default="base_link" />
    <arg name="set_odom_frame" default="pf/pose/odom" />
    <arg name="set_map_frame" default="map" />
    <arg name="rviz_file" value="racecar_gmapping.rviz" />

    <include file="$(find racecar_gazebo)/launch/racecar_walker.launch">
        <arg name="rviz_file" value="$(arg rviz_file)" />
    </include>

    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="racecar_slam_gmapping" output="screen">
        <param name="base_frame" value="$(arg set_base_frame)" />
        <param name="odom_frame" value="$(arg set_odom_frame)" />
        <param name="map_frame" value="$(arg set_map_frame)" />
        <rosparam command="load" file="$(find racecar_autonomous)/config/gmapping_params.yaml" />
    </node>
</launch>